In [5]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

## 1. Load data

In [2]:
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
print('train: ')
display(train_df.head(1))
print('test: ')
display(test_df.head(1))

train:

,id,0,1,2,3,4,5,6,7,8,...,178,179,180,181,182,183,184,185,186,187
0,1,0.977941,0.926471,0.681373,0.245098,0.154412,0.191176,0.151961,0.085784,0.058824,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

test:

,id,0,1,2,3,4,5,6,7,8,...,177,178,179,180,181,182,183,184,185,186
0,1,1.0,0.805419,0.206897,0.135468,0.182266,0.20936,0.204434,0.14532,0.179803,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
X = train_df.iloc[:, 1: -1]
y = train_df.iloc[:, -1]
pd.value_counts(y)

0.0    72471
4.0     6431
2.0     5788
1.0     2223
3.0      641
Name: 187, dtype: int64